<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe & Wifi API Documentation</title>
</head>
<body>
    <h1>Cafe & Wifi API Documentation</h1>
    <p>This API allows you to retrieve information about cafes that offer wifi in different locations.</p>

    <h2>API Documentation</h2>
    <p>To view the documentation for the Cafe & Wifi API, please visit the following link:</p>
    <a href="https://documenter.getpostman.com/view/26994653/2s93Y2SMGb">Cafe & Wifi API Documentation</a>
</body>
</html>
