{% include "header.html" %}

<div class="container">
  <div class="text-center">
    <h2 class="display-4">Manage your tasks and stay organized!</h2>
    <h3 class="display-5">Start your productive journey now!</h3>
  </div>
</div>

<div class="container">
  <div class="row"></div>
  <div class="mb-3">
    <input
      type=""
      class="form-control"
      id="Formhere"
      placeholder="Write your task here..."
    />
  </div>
  <button
    type="button"
    href="https://www.linkedin.com/in/aslan-taleb/"
    class="btn btn-dark btn-lg download-button mybutton1"
  >
    <i class="fa-brands"></i> Clear all tasks
  </button>

  <button
    type="button"
    href="https://www.linkedin.com/in/aslan-taleb/"
    class="btn btn-dark btn-lg download-button mybutton2"
  >
    <i class="fa-brands"></i> Clear Completed tasks
  </button>

  <br />
</div>
