{% include "header.html" %}
<div class="container index">
  <div class="video-background">
    <video autoplay loop muted>
      <source src="/static/vid/bg.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="ribbons">
    <a href="https://github.com/Aslan-Taleb" target="_blank">
      <div id="btn1" class="button-social">
        <h4>GitHub.</h4>
      </div>
    </a>

    <a href="https://www.linkedin.com/in/aslan-taleb/" target="_blank">
      <div id="btn2" class="button-social">
        <h4>LinkedIn.</h4>
      </div>
    </a>
  </div>
  <div class="container main">
    <h1 class="contact">My work.</h1>
  </div>
  <div></div>
  <br />
  <div class="container main">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          As a junior programmer, I am still at the beginning of my coding
          journey, so my portfolio will keep growing, expanding, and getting
          better each day. The biggest of my websites/applications are reachable
          using the hyperlinks attached below. Other of my open-source projects
          are in my<a
            class="platform"
            href="https://github.com/Aslan-Taleb"
            target="_blank"
            >GitHub</a
          >account.
        </p>
        <hr />
          </div>
          <h2>Portfolio</h2>
          <div class="row">
              <div
                class="project-poster col-md-4"
                style="
                  background-image: url('');
                "
              >
                <div class="poster-back">
                  <h3>Project 1</h3>
                  <p>A brief description of project 1.</p>
                  <a href="https://github.com/username/project1"
                    >View on GitHub</a
                  >
                </div>
              </div>
              <br>
             <hr />
            {% include "footer.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
