{% extends 'bootstrap/base.html' %}
{% block title %}Access Denied{% endblock %}

{% block content %}
<div class="container text-center">
  <h1>Access Denied</h1>
  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/13492b3b-cf4a-4620-9d60-590a91a59de2/d93ag8k-2d0d35a9-452e-4b1b-9584-4e352411a35a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEzNDkyYjNiLWNmNGEtNDYyMC05ZDYwLTU5MGE5MWE1OWRlMlwvZDkzYWc4ay0yZDBkMzVhOS00NTJlLTRiMWItOTU4NC00ZTM1MjQxMWEzNWEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.PYFb2JL1d-RtRl5jb0joxEmaCO2lz7__K8hgwVYA3YA" alt="Lucy">
</div>
{% endblock %}
