{% extends 'bootstrap/base.html' %} {% block head %} {{ super() }}
<link
  rel="icon"
  href="{{ url_for('static', filename='logo.ico') }}"
  type="image/x-icon"
/>
{% endblock %} {% block styles %} {{ super() }}
<!-- Load external fonts -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Poppins:300,400,700"
/>
<!-- Load external icon library -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
  integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
  crossorigin="anonymous"
/>
<!-- Load custom CSS -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/styles.css') }}"
/>
{% endblock %} {% block title %}My Top Movies{% endblock %} {% block content %}
<div class="container">
  <h1 class="heading">My Top Movies</h1>
  <p class="description">These are my all-time favorite movies.</p>
  {% for movie in movies %}
  <div class="card">
    <div class="front" style="background-image: url('{{ movie.img_url }}')">
      <p class="rank">{{ movie.ranking }}</p>
    </div>
    <div class="back">
      <div class="movie-info">
        <div class="movie-title">
          {{ movie.title }} <span class="release-date">({{ movie.year }})</span>
        </div>
        <div class="movie-rating">
          <label>{{ movie.rating }}</label>
          <i class="fas fa-star"></i>
        </div>
        <p class="movie-review">"{{ movie.review }}"</p>
        <p class="movie-description">{{ movie.description }}</p>
        <div class="movie-actions">
          <a href="{{ url_for('edit', id=movie.id) }}" class="button">Update</a>
          <a
            href="{{ url_for('delete', id=movie.id) }}"
            class="button delete-button"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="container text-center add-movie">
  <a href="{{ url_for('add') }}" class="button">Add Movie</a>
</div>

<footer>
  <div class="container">
    <p>&copy; My Top Movies by AslaN</p>
  </div>
</footer>
{% endblock %} {% block scripts %} {{ super() }}
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha384-Hnn/ZBzOWnZjkFwS3JvS9zzTJPgTJs0p3T0P4EpO4IH7zAu2RHzSUEw8EL+PvSl"
  crossorigin="anonymous"
></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
