body {
    background-color: #a5d7e8;
}

hr {
    border-style: dotted none none none;
    text-align: center;
    border-color: gray;
    border-width: 5px;
    height: 0px;
    width: 5%;
}

h1,
h3 {
    color: #576CBC
}